* {
  box-sizing: border-box;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
}

video {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  width: 100%;
}

.text-container {
  width: 80%;
  margin: 0 auto;
}

/* ----------- MEDIA QUERIES ----------- */

@media (min-width: 768px) {
  video {
    width: 90%;
  }

  .text-container {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  video {
    width: 75%;
  }

  .text-container {
    width: 75%;
  }
}